# Supabase configuration
# Replace with your actual Supabase URL and anon key from your Supabase project settings
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# Optional: Additional environment variables
# NEXT_PUBLIC_SITE_URL=http://localhost:3000 

# Vonage configuration
VONAGE_API_KEY=05d97a06
VONAGE_API_SECRET=OZHvkdkCPJEY8xpW
VONAGE_PHONE_NUMBER=14352381767